@import url("https://fonts.googleapis.com/css2?family=Sen:wght@400;700;800&display=swap");

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
  }
  

body {
    font-family: 'Sen', sans-serif;
    color:#FFFFFF;
 scroll-behavior: smooth;
 
  background: -webkit-gradient(linear, left top, left bottom, from(#1b213b), color-stop(35.21%, #2b0934), to(#1b0217));
  background: linear-gradient(180deg, #1b213b 0%, #2b0934 35.21%, #1b0217 100%);
  margin: 0 auto;   
  max-width: 1300px;
} 

.navbar{    
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: flex-start;  
} 

.navbar__container{
    display: flex;
    justify-content: space-around;
    height: 80px;
    z-index: 1;
    width: 100%;
    margin: 0 auto;
    padding: 0;
} 

.navbar__logo{
    cursor: pointer;
} 

.navbar__menu{
    display: flex;
    align-items: center;
    list-style: none;
} 

.navbar__item {
    height: 80px;
  }

  .navbar__links {
    color: #fff; 
    font-family: 'IBM Plex Mono', monospace;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
  } 

  .navbar__links:hover {
    background: #0f0c29; 
    color: #9518fc;
    transition: all 0.3s ease;
  } 

  @media screen and (max-width: 960px) { 
    .navbar{
      height: 60px;
    }
    .navbar__container {
      display: flex;
      align-items: center;
      justify-content:center;
      height: 60px;
      z-index: 1;
      width: 90px; 
      padding: 0;
    }
    
 
    .navbar__menu li a {
      font-size: 12px;
    }
    #navbar__logo {
      padding-left: 5px;
    }
  
    
    .navbar__item {
      width: 60%;
      height: 60px;
    }
  
    .navbar__links {
      text-align: center;
      padding: 1rem;
      width: 100px;
    
    } 

    .navbar__logo{
       padding: 0px;
       height: 70px;
  } 
  


.hero{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  
}

.hero__content{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center  ;
}

    .hero_image{
      display: block;
      margin: 0 auto;
      padding: 0px;
    }

    .hero__image{
      display: block;
      width: auto;
      margin: 0 auto;
      padding: 0px;
    }
    .hero-wrap{
      display: flex;
  align-items: center;
  justify-content: center;
    }
    .hero__heading{
      text-align: center;
      font-size: 1rem;
    }
    .hero__content p{
      text-align: center;
    } 
    
    .hero .btn{
      align-items: center;
      /* margin-left: 280px; */
    }

    /* #mobile-menu {
      position: absolute;
      top: 20%;
      right: 5%;
      transform: translate(5%, 20%);
    }
  
    .navbar__toggle .bar {
      display: block;
      cursor: pointer;
    }
  
    #mobile-menu.is-active .bar:nth-child(2) {
      opacity: 0;
    }
  
    #mobile-menu.is-active .bar:nth-child(1) {
      transform: translateY(8px) rotate(45deg);
    }
  
    #mobile-menu.is-active .bar:nth-child(3) {
      transform: translateY(-8px) rotate(-45deg);
    } */
  }  
  
  @media screen and (max-width: 480px){
     .navbar{
      padding: 32px 0;
      align-items: center;
     }
     .navbar__menu li a {
       padding: 0px;
     }
     .navbar__logo{
      padding: 2px;
      height: 35px;
 } 
 .hero__content .p {
   padding: 10px;
   margin: 0 auto;
   font-size: 16px;
 }
 .hero_image{
   padding-right: 0px;
   margin-left: 50px;
 }
 
  }

  /* Header */

  .hero { 
    padding: 50px 0; 
    margin-top: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
   
  }  
.hero_image{
    padding-right: 100px;
    padding-left: 60px;
}
.hero__image{
    width: 300px;
    height: 300px; 
    border-radius: 10px; 
  
} 

hero__content{ 
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px;
    margin: 32px;
   margin-right: 50px;
} 

.p{
    font-size: 18px; 
    margin-top: 20px;
    margin-bottom: 40px; 
   
}
.hero__heading{
    font-size: 3rem;
}  

.btn {
  margin-top: 16px;
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  background-color: #713ab7;
  margin-right: 8px;
  border-radius: 5px; 

} 

.skills{
   display: flex;
   align-items: center;
   justify-content: center;
   flex-direction: column; 
   margin-top: 100px;
} 

.skills h2{
  font-size: 24px;
  font-weight: bold;
  margin-top: 16px;
} 

.skills p {
  margin-top: 16px;
  margin-bottom: 16px;
} 

/* Skills and Technologies */ 

.skill-section {
  margin: 2rem 0;
}

.skill-section ul.skill, .skill-section .wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 1rem;
}

.skill-section .wrapper {
  flex-direction: column;
}

.skill-section i {
  font-size: 60px;
  padding: 1rem;
}


/* Projects  */ 

#projects {
	
  margin: 0 auto;
  padding: 50px 0;
  
  
}

.all-projects{

   margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;   

}  

.project-div{
  max-width: 320px;
  padding: 10px;
  margin: 0 auto;
  

}

#projects img {
  width: 300px;
  border-radius: 5px;
} 

#projects h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 16px;
}
#projects p {
  margin-top: 16px;
}

#projects a {
  margin-top: 16px;
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  background-color: #713ab7;
  margin-right: 8px;
  border-radius: 5px; 

}  

/* Blogs */  


#blogs {
	
  margin: 0 auto;
  padding: 50px 0;
  
  
}

.all-blogs{

   margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;   

}  

.blog-div{
  max-width: 320px;
  padding: 10px;
  margin: 0 auto;
  

}

#blogs img {
  width: 300px;
  border-radius: 5px;
} 

#blogs h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 16px;
}
#blogs p {
  margin-top: 16px;
}

#blogs a {
  margin-top: 16px;
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  background-color: #713ab7;
  margin-right: 8px;
  border-radius: 5px; 

} 

/* Design Section */ 


#design {
	
  margin: 0 auto;
  padding: 50px 0;
  
  
}

.all-designs{

   margin-top: 24px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;   

}  

.design-div{
  max-width: 320px;
  padding: 10px;
  margin: 0 auto;
  

}

#design img {
  width: 300px;
  border-radius: 5px;
} 

#design h3 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 16px;
}

#design p {
  margin-top: 16px;
}

#design a {
  margin-top: 16px;
  display: inline-block;
  text-decoration: none;
  color: white;
  padding: 8px 16px;
  background-color: #713ab7;
  margin-right: 8px;
  border-radius: 5px; 

}  

/* Contact */ 

.social-links{
  display: flex;
  justify-content: center;
} 

.social-links i {
  color: #9518fc;
  margin: 1.5rem;
  font-size: 2.5rem;
  cursor: pointer;
} 

#contact .footer {
  font-size: 1rem;
  padding: 1rem;
  text-align: center;
}